<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>809652427323-2r2dkbsbj3h2k8lkbe336n847udhscc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809652427323-2r2dkbsbj3h2k8lkbe336n847udhscc6</string>
	<key>API_KEY</key>
	<string>AIzaSyDH_Usu4aZmoIxXgYM_ScnhxrH6YSk5CSE</string>
	<key>GCM_SENDER_ID</key>
	<string>809652427323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udacity.Fleks</string>
	<key>PROJECT_ID</key>
	<string>fleks-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>fleks-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:809652427323:ios:2804794117f337aa</string>
	<key>DATABASE_URL</key>
	<string>https://fleks-dev.firebaseio.com</string>
</dict>
</plist>